@model IEnumerable<Test_Azure_ADO_App.Models.WorkItems>
@{
    ViewBag.Title = "Work Items";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>

                @*<th>LinksSelfHref</th>

                <th>LinksFieldsHref</th>

                <th>LinksHtmlHref</th>

                <th>LinksWorkItemHistoryHref</th>


                <th>LinksWorkItemTypeHref</th>

                <th>LinksWorkItemUpdatesHref</th>*@

                @*<th>Fields</th>*@
                <th>ProjectId</th>
                <th>Rev</th>
                <th>Url</th>



                @*<th>CapabilitiesVersionControlGitEnabled</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    @*<td>@item.LinksSelfHref</td>
                    <td>@item.LinksFieldsHref</td>
                    <td>@item.LinksHtmlHref</td>
                    <td>@item.LinksWorkItemHistoryHref</td>
                    <td>@item.LinksWorkItemTypeHref</td>
                    <td>@item.LinksWorkItemUpdatesHref</td>*@
                    @*<td>@item.Fields</td>*@
                    <td>@item.ProjectId</td>

                    <td>@item.Rev</td>
                    <td>@item.Url</td>
                </tr>
            }
        </tbody>
    </table>
</div>